[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = pavankumar444
	email = 125132309+pavankumar444@users.noreply.github.com
[credential "helperselector"]
	selected = manager
